* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #a2d2ff;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 60vmin;
    width: 60vmin;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
    font-size: 8vmin;
    color: #caf0f8;
    background-color: #03045e;
}

#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #fefae0;
    border: none;
    border-radius: 1rem;
}
#new-btn {
    padding: 1rem;
    font-size: 1rem;
    background-color: #fefae0;
    border: none;
    border-radius: 1rem;
}

.msg-container {
    height: 70vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

#msg {
    color: #03045e;
    font-size: 5vmin;
}

.hide {
    display: none;
}

.x-color {
    color: #bc6c25;
}

.o-color {
    color: #c1121f;
}